@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Inter:wght@400;700;900&family=Lateef&display=swap');

:root {
  --bg: #ffffff;
  --text: #0f172a;
}

.dark {
  --bg: #020617;
  --text: #f8fafc;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease;
}

.font-arabic {
  direction: rtl;
}